body {
  font-family: 'Lato', sans-serif;
}

.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}

.App-header {
  background-color: ##D1CABE;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #0d6fee;
  color: white;
  border-radius: 8px;
  padding: 10px;
  font-size: 25px;
  margin: 10px;
  box-shadow: 0px 8px 10px rgba(5, 65, 230, 0.4);
}

.button:hover {
  background-color: #09a9f3;
  cursor: pointer;
}


.sign-in-up-form {
  text-align: center;
  margin: 30px 30px;
  border: 30px 30px;
  text-decoration: none;

}

.Homepage-link {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
  align-content: right;

  text-decoration: none;
  color: #fff;

}

.homepage-btn {
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: right;
}




