body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flexbox-div {
  display: flex;
  flex-wrap: wrap;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  padding: 15px;
  align-content: left;
  max-width: 30%;
  max-height: 30%;
  margin: 10px;
}


.card input {
  border-radius: 5px;
  height: 20px;
  margin: 2px;
  width: 150px;
  font-size: 1em;
}

.card button {
  border-radius: 8px;
  background-color: blue;
  font-size: 1em;
  color: white;
  padding: 5px;

}

.card button:hover {
  border-radius: 8px;
  background-color: light-blue;
  font-size: 1em;
  color: white;
  padding: 5px;

}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card img {
  border-radius: 5px 5px 0 0;
}
.user-image {
  max-width:40%;
  max-height:40%;
  border-radius: 16px;
}
